{
 :home-fn [home/index]
 :api-base-url "https://devheroes.club"
 :latest-posts-url "/c/offtopic/l/latest.json"

 :logo #asset "images/me-1.jpg"
 ;; Site's title
 :title "TITLE"
 ;; Site's subtitle
 :subtitle "SUBTITLE"

 ;; navigation menu at the top

 ;; IMPORTANT NOTE: :name property of a linke should be a vector
 ;; even if you want it to be empty it should be an empty vector
 :navbar-menu {:left [{:name [:about_us  "درباره ما"] :href "/about" :class "navbar-item"}]
               :right [{:name [] :href "//twitter.com/devheroes_club" :icon "fab fa-twitter fa-lg"}]}

 :welcome-title "Welcome title"
 :welcome-message "welcome message"

 :footer [:p [:a {:href "#"} "devheroes"] "somethin"]

 :news-title (t [:latest-news "Latest news"])}
