{

 :latest-posts-url "/c/general/radioboot/l/latest.json"
 ;; Site's title
 :title "رادیو بوت"
 ;; Site's subtitle
 :subtitle "رادیو بوت، به بهانه تکنولوژی"
 :logo #asset "images/radioboot.png"

 :welcome-title "رادیو بوت، به بهانه تکنولوژی"
 :welcome-message "رادیو بوت یک رادیوی اینترنتی در حوزه فناوری اطلاعات است که در سال ۱۳۹۳ شروع به فعالیت نموده و به صورت نامنظم منتشر می‌شود.در این پادکست در تلاش هستیم تجربیات خود را با علاقه‌مندان به اشتراک بگذاریم"

 :welcome-image "/images/radioboot/welcome.png"

 :header-color "#f5f5f5"

 :news-title "آخرین پادکست ها"

 ;; navigation menu at the top

 ;; IMPORTANT NOTE: :name property of a linke should be a vector
 ;; even if you want it to be empty it should be an empty vector
 :navbar-menu {:left [{:name [:about_us  "درباره ما"] :href "/about" :class "navbar-item"}]

               :right [{:name [] :href "/" :icon "fab fa-twitter fa-lg"}]}}
